* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Oswald, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.title-h2 {
    font-size: 35px;
    text-transform: uppercase;
}

.conteiner {
    background-image: url('./img/header_truck.jpeg');
    background-position: center top;
    background-size: cover;
}

.conteiner::before {
    content: "";
    position: absolute;
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: -170px;
    background-color: rgba(0, 0, 0, 0.3);
}  

.header-top {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr 1fr 1fr;
    grid-column-gap: 30px;
    padding-top: 40px;
    margin-left: 10px;
    margin-right: 40px;
    align-items: center;
}

.header-top figure img {
    transform: scale(0.8);
}

.header-top nav {
    grid-column-start: 3; 
    z-index: 3;
}

.header-top nav button {
    display: none;
}

.header-list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end; 
}

.header-list li {
    margin-left: 30px;
}

.header-top button img {
    padding-top: 5px;
}

.header-top a {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 400ms;
}

.header-top a:hover, .header-top a:focus, .menu-tabs a:hover, .menu-tabs a:focus,
.video-text a:hover {
    color: #D80B1A;
}

.header-top button:nth-of-type(1) {
    border-width: 0px;
    background-color: transparent;
    cursor: pointer;
    transition-property: color;
    transition-duration: 400ms;
    z-index: 3;
}

.header-top button:nth-of-type(2) {
    width: 155px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    transition-property: color;
    transition-duration: 400ms;
    z-index: 3;
}

button span {
    font-weight: 700;
}

.header-top button:nth-of-type(2):hover {
    color: #D80B1A;
    border-color: #D80B1A;
}

.header-middle {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(auto, 5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 40px;
    padding-bottom: 75px;
}

.header-middle p, .header-middle h2 {
    color: white;
    z-index: 3;
}

.header-middle h2 {
    text-transform: uppercase;
    font-family: Impact;
    font-size: 70px;
    font-weight: 400;
    grid-column-start: 2;
    grid-row-start: 2;
}

.button-red {
    width: 250px;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: #D80B1A;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    transition: all 500ms;
    z-index: 2;
}

.button-red:hover {
    color: #D80B1A;
    border-color: #D80B1A;
    background-color: white;
}

.header-middle p:nth-of-type(1) {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;
    font-size: 16px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.header-middle h2:nth-of-type(1) {
    grid-column-start: 2;
    grid-row-start: 2;
}

.header-middle h2:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 3;
}

.header-middle p:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 4;
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-middle button {
    grid-column-start: 2;
    grid-row-start: 5;
}

.header-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.header-slider a {
    z-index: 2;
}

.header-slider a:nth-of-type(2) p {
    color: #D80B1A;
    font-size: 40px;
    font-weight: 800;
    margin-top: -19px;
    margin-left: 10px;
    margin-right: 10px;
}

.header-slider p:nth-of-type(1) {
    color: white;
    font-size: 15px;
    font-weight: 800;
    margin-top: -5px;
    margin-left: 5px;
    margin-right: 5px;
}

.header-slider a:nth-of-type(3) p {
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 10px;
}

/*-----------------MAIN------------------------------------*/
/*--------------freight--------------*/

.freight {
    background-image: url('./img/world-dot.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center; 
}

.freight div:nth-of-type(1) {
    grid-column-start: 2;
    grid-row-start: 1;
}

.freight div:nth-of-type(2) {
    grid-column-start: 3;
    grid-row-start: 1;
}

.freight div:nth-of-type(3) {
    grid-column-start: 4;
    grid-row-start: 1;
}

.freight p:nth-of-type(1) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    justify-self: left;
}

.freight a:nth-of-type(1) {
    grid-column-start: 4;
    grid-row-start: 2;
    justify-self: right;
}

.conteiner-freight {
    width: 300px;
    margin-top: -70px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.1), 0px 20px 0px 0px rgb(245, 245, 245, 0.5);
    z-index: 2;
}

.conteiner-freight img {
    height: 200px;
}

.info-freight {
    padding: 40px;
    background-color: white;
}
.conteiner-freight h3 {
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
}

.conteiner-freight h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 10%;
    height: 2.5px;
    background-color: #D80B1A;
}

div.conteiner-freight p:nth-of-type(1) {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: silver;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.freight p:nth-last-child(2) {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px;
    padding-bottom: 70px;
}

.link-arrow {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    align-self: center;
}

.link-arrow span {
    color: #D80B1A;
}

.text-marvis-freight {
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    align-items: stretch;
}

.text-marvis-freight p {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 1;
}

.text-marvis-freight hr {
    grid-column-start: 3;
    grid-row: 2;
    width: 100%;
    height: 2.5px;
    background-color: #D80B1A; 
}

/*--------------------ABOUT US-----------------------------*/

.about {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.about-menu {
    grid-column-start: 2;
    grid-column-end: 4;
}

.about div:nth-of-type(1), .tabs-body, .menu-tabs {
    grid-column-start: 2;
    grid-column-end: 4;
}

.about-img {
    grid-column-start: 4;
    grid-column-end: 6;
}

.about-img {
    display: flex;
    justify-content: space-evenly;
}

.about-img img:nth-child(1), .about-img img:nth-child(2) {
    width: 190px;
    height: 315px;
    overflow: hidden;
}

.img-logistics img {
    object-fit:cover;
}

.about-us {
   padding: 0 10px;
}

.about-us h2 {
    padding-bottom: 50px;
}

.menu-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu-tabs a {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: silver;
    transition-property: color;
    transition-duration: 400ms;
}

.menu-tabs li {
    position: relative;
    text-align: center;
}

.menu-tabs li:nth-of-type(2) {
    text-align: center;
}

.menu-tabs li:nth-of-type(3) {
    text-align:center;
}

.menu-tabs li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    height: 2.5px;
    background-color: silver;
}    

.tabs-block {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    position: relative;
}

.tabs-block:target {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tabs-block::after {
    content: "●";
    color: #D80B1A;
    position: absolute;
    top: 11px;
}

.tabs-block:nth-child(1)::after {
    left: 16.66666%;
}

.tabs-block:nth-child(2)::after {
    left: 50%;
}

.tabs-block:nth-child(3)::after {
    right: 16.66666%;
}

.tabs-block p {
    padding-top: 20px;
    padding-bottom: 15px;
}

/*---------------------VIDEO TEXT---------------------------*/

.video-text {
    background-image: url('./img/Main_sec_truck.jpg');
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    padding: 0 10px;
}

.video-text p {
    z-index: 2;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 20px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.video-text h2 {
    position: relative;
    text-align: center;
}

.video-text h2::after {
    content: "";
    left: 40%;
    bottom:-5px;
    width: 20%;
    height: 2.5px;
    background-color: #D80B1A; 
    position: absolute;
}

.video-text a {
    padding-top: 30px;
    padding-bottom: 300px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

.video-text::before {
    content: "";
    position: absolute;
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

/*---------------------VIDEO---------------------------*/

.video {
    display: flex;
    justify-content: center;
}

.video a {
    margin-top: -250px;
    z-index: 2;
    position: relative;
}

.video a img {
    object-fit: cover;
    width: 100%;
    height: 80%;
}

.video a::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    top: 32%; 
    left: 48%; 
    background-image: url('./img/play_circle_white_48dp.png');
    background-repeat: no-repeat;
    transform: scale(2.75);
    z-index: 3;
}

/*---------------------CHOISE-------------------------------*/

.choise {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        
        grid-column-gap: 10px;
       
        padding-left: 20px;
        padding-bottom: 50px;
    }

    section.choise div.about-img {
        grid-column-start: 1;
        grid-column-end: 3;
       
    }

    .choise-marvis {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    
    .choise-marvis {
       display: flex;
       flex-direction: column;
       padding: 0 10px;
    }

    .choise-marvis h2 {
        padding-bottom: 5px;
    }

    .choise-marvis p {
        font-size: 16px;
        line-height: 24px;
        color: silver;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        padding-bottom: 10px;
    }

    .choise-marvis p::after {
        content: "";
        left: 0;
        bottom: -5px;
        width: 20%;
        height: 2.5px;
        background-color: #D80B1A; 
        position: absolute;
    }

    .choise-marvis div {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        justify-content: space-between;
    } 

    .choise-marvis ul {
        padding: 10px 0;
    }

    .choise-marvis ul li{
        font-size: 16px;
        line-height: 24px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize; 
    }

    .choise-marvis ul li::before {
        content: "›";
        font-size: 16px;
        font-weight: bold;
        color: #D80B1A;
        display: inline-block;
        width: 1.1em;
    }

 /*-------------------------INFO MARVIS------------------------*/
 
 .info-marvis {
     display: grid;
     grid-template-columns: 1fr minmax(435px, 700px) minmax(435px, 700px) 1fr;
     grid-column-gap: 50px;
     padding: 50px 30px;
     background-color: #e9e7e7;
 }

 .faqs-block {
    grid-column-start: 2;
 }

 .employees {
    grid-column-start: 3;
 }

 .faqs-block {
    display: grid;
    grid-template-rows: repeat(auto, 5, 1fr);
    grid-row-gap: 10px;
    padding: 10px 10px 15px 10px;
    
 }

 .employees {
    display: grid;
    grid-template-rows: repeat(auto, 3, 1fr);
    grid-row-gap: 10px;
    padding: 10px 10px 10px 10px;
 }

 .persona {
    display: grid;
    grid-template-columns: minmax(120px, 130px) 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
 }

 .persona p {
     grid-column-start: 1;
     grid-column-end: 3;
 }

 .persona, .faq {
    font-family: Arial, Helvetica, sans-serif;
    color: silver;
}

.persona div, .persona img {
    align-self: center;
}

.persona h4 {
    line-height: 28px;
    color: #D80B1A;
    text-transform: uppercase;
}

 .faq {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 2.5px solid;
    border-color: silver;
 } 

 .faq-title {
    display: block;
    padding: 10px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.faq-title::before {
    content: "+";
    display: inline-block;
    width: 2em;
    font-size: 18px;
    color: black;
}

.faq-title:hover {
    color: #D80B1A;
}

.faq-input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.faq-input:checked ~ .faq-title::before {
    content: "-";
    display: inline-block;
    width: 2em;
    font-size: 18px;
    color: #D80B1A;
}

.faq-input:checked ~ .faq-title {
    color: #D80B1A;
}

.faq-input:checked ~ .faq-text {
    display: block;
}

.faq-text {
    display: none;
    padding-left: 3em;
    font-size: 16px;
 }

 /*--------------------Marvis Theme----------------------*/

 .marvis-theme {
    display: grid;
    grid-template-columns: 1fr minmax(435px, 700px) minmax(435px, 700px) 1fr;
    grid-column-gap: 50px;
    padding: 50px 30px;
    background-color:#D80B1A;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 }

 .marvis-theme div {
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
    padding: 5px;
 }

 .marvis-theme button {
    grid-column-start: 3;
    justify-self: center;
    align-self: center;
 }

 .marvis-theme div h3 {
    font-size: 26px;
    text-transform: uppercase;
 }

 .marvis-theme div p {
    font-size: 14px;
    line-height: 30px;
 }

 .marvis-theme button.button-red {
    grid-column-start: 3;
    background-color: #22053e;
 }

 /*------------------Footer-------------------------------*/

footer {
    display: grid;
    grid-template-columns: 1fr minmax(290px, 320px) minmax(300px, 500px) minmax(290px,500px) 1fr;
    grid-column-gap: 0px;
    padding: 50px 30px;
    background-color: #22053e;
    justify-content: center;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
 }

 footer a {
    color: silver;
    text-transform: capitalize;
    line-height: 42px;
 }

 .logo-block {
     grid-column-start: 2;
     border-bottom: 2.5px silver solid ;
     padding-bottom: 30px;
 }

 .company {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto-fit 1fr 1fr;
     grid-column-gap: 10px;
     grid-row-gap: 10px;
     border-bottom: 2.5px silver solid ;
     padding-bottom: 30px;
 }

 .posts {
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    border-bottom: 2.5px silver solid ;
    padding-bottom: 30px;
}

 .company h3 {
     grid-column-start: 1;
     grid-row-start: 1;
 }

 .company ul:nth-of-type(1) {
     grid-column-start: 1;
     grid-row-start: 2;
 }

 .company ul:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 2;
}

.logo-block figure, .logo-block p, .social, .company h3, .company ul, .posts h3, .posts ul  {
    padding: 10px;
    line-height: 30px;
}

.social {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-column-gap: 5px;
}

.icons {
    width: 50px;
    height: 50px;
    background-size: 600%;
    background-image:url('./img/Sprites.png');
}

.icon-fb {
    background-position: -2px 0px;
}

.icon-fb:hover {
    background-position: 2px 1px;
    background-image:url('./img/Sprites_red.png');
}

.icon-tw {
    background-position: -63px 0px;
}

.icon-tw:hover {
    background-position: 240px 1px;
    background-image:url('./img/Sprites_red.png');
}

.icon-google {
    background-position: -124px 0px;
}

.icon-google:hover {
    background-position: 180px 1px;
    background-image:url('./img/Sprites_red.png');
}

.icon-pinterest {
    background-position: -184px 0px;
}

.icon-pinterest:hover {
    background-position: 120px 1px;
    background-image:url('./img/Sprites_red.png');
}

.icon-instagram {
    background-position: -244px 0px;
}

.icon-instagram:hover {
    background-position: 60px 1px;
    background-image:url('./img/Sprites_red.png');
}

.company h3, .posts h3 {
    text-transform: uppercase;
    color: white;
    position: relative;
}

.company h3::after, .posts h3::after {
    content: "";
    left: 10px;
    bottom: -5px;
    width: 5em;
    height: 2.5px;
    background-color: #D80B1A; 
    position: absolute;
}

.posts h3::after {
    width: 7em;
    
}

footer a:hover {
    color: #D80B1A;
}

/*---------------------Adress-----------------------------*/

address {
    display: grid;
    grid-template-columns: 1fr minmax(21px, 25px) minmax(318px, 450px) minmax(21px, 25px) minmax(135px, 250px) minmax(21px, 25px) minmax(135px,250px) 1fr;
    grid-column-gap: 10px;
    padding: 10px 30px 50px 30px;
    background-color: #22053e;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1px;
}

.icon-address {
    grid-column-start: 2;
}

address a {
    color: silver;
}

address p {
    text-transform: capitalize;
    line-height: 24px;
}

.icon-address {
    width: 18px;
    height: 19px;
    background-size: 105%;
    background-image:url('./img/location.png');
}

.icon-tel {
    width: 18px;
    height: 18px;
    background-size: 100%;
    background-image:url('./img/phone.png');
}

.icon-mail {
    width: 21px;
    height: 21px;
    background-size: 100%;
    background-image:url('./img/email.png');
}

/*-------------------RIGHT----------------------------*/

.right {
    background-color: #190430;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 30px;
}

.right p {
    color: silver;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
}

.right span:first-of-type {
    color: white;
}

.right span:last-of-type {
    color: white;
    text-transform: uppercase;
}


@media screen and (min-width: 329px) and (max-width: 767px) {
    
    .title-h2 {
        font-size: 25px;
    }

    .conteiner::before {
        bottom: -150px;
    }  

    .header-top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        padding-top: 40px;
        margin-left: 5px;
        margin-right: 2px;
        align-items: center;
        justify-items: center; 
        z-index: 2;
    }

    .header-top nav {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .header-top nav button {
        display: block;
    }

    .header-top figure {
        margin-block-start: 11px;
        margin-block-end: 1px;
        margin-inline-start: -50px;
        margin-inline-end: -75px;
    }

    .header-top figure img {
        transform: scale(0.45);
    }

    .header-list {
        display: none;
    }

    .header-top button img {
        padding-top: 6px;
        transform: scale(0.8);
    }

   .header-top button:nth-of-type(1) {
        grid-column-start: 2;
        grid-row-start: 1;
        text-align: end;
    }

    .header-top button:nth-of-type(2) {
        display: none;
    }

    .header-middle h2:nth-of-type(1), .header-middle h2:nth-of-type(2) {
        font-size: 35px;
    }
    
    .header-middle button {
        font-size: 14px;
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-middle p:nth-of-type(2) { 
        font-size: 9px;
    }

    .freight {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .conteiner-freight {
        width: 300px;
        margin-top: 20px;
    }
    
    .conteiner-freight img {
        height: 200px;
    }

    div.conteiner-freight p:nth-of-type(1) {
        text-align: start;
    }

    .freight p:nth-of-type(1), .freight a p:nth-of-type(1) {
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    }

    .about {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .menu-tabs a {
        font-size: 13px;
    }

    .about-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .about-img img:nth-child(1), .about-img img:nth-child(2) {
        width: 250px;
        height: 416px;
        overflow: hidden;
    }

    .video-text p {
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 18px;
    }

    .video-text a {
        padding-top: 30px;
        padding-bottom: 200px;
        font-size: 18px;
    }

    .video a {
        margin-top: -180px;
    }

    .video a::before {
        top: 28%; 
        left: 44%; 
        transform: scale(1.5);
    }

    .choise {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 20px;
    }

    .choise-marvis {
        align-items: center;
    }

    .choise-marvis p::after {
        content: "";
        left: 40%;
        bottom: 0px;
        width: 20%;
        height: 2.5px;
        background-color: #D80B1A; 
        position: absolute;
    }

    .choise-marvis div {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        justify-content: space-between;
    } 

    .info-marvis {
        display: grid;
        grid-template-columns: repeat(1, minmax(320px, 700px));
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 40px;
        padding: 50px 30px;
        background-color: #e9e7e7;
        justify-content: center;
    }

    .faqs-block {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
     .employees {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .marvis-theme {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
        padding: 50px 30px;
        justify-content: center;
    }

    .marvis-theme div {
        grid-column-start: 1;
    }
    
    .marvis-theme button.button-red {
        grid-column-start: 1;
    }

    .marvis-theme div h3, .marvis-theme div p {
         text-align: center;
    }

    footer {
        grid-template-columns: minmax(290px, 700px);
        grid-row-gap: 50px;
        justify-content: center; 
        padding: 30px 30px;
     }

     .logo-block {
        grid-column-start: 1; 
    }

    address {
        display: grid;
        grid-template-columns: minmax(21px, 25px) minmax(250px, 768px);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        padding: 10px 30px 50px 30px;
        
    }

    .icon-address {
        grid-column-start: 1;
    }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
    
    .title-h2 {
        font-size: 30px;
    }

    .header-top figure {
        margin-inline-start: -50px;
        margin-inline-end: -75px;
    }

    .header-top figure img {
        transform: scale(0.5);
    }

    header.conteiner a {
        font-size: 12px;
    }

    .header-top button img {
        padding-top: 9px;
        transform: scale(0.7);
    }

    .header-top button:nth-of-type(2) {
        width: 117px;
        padding: 6px;
        font-size: 10px
    }

    .freight {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .conteiner-freight {
        width: 720px;
        margin-top: 20px;
    }
    
    .conteiner-freight img {
        height: 480px;
    }

    .freight p:nth-of-type(1), .freight a p:nth-of-type(1) {
        padding-top: 40px;
        padding-bottom: 20px;
    }

  .about {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .about-img {
        margin: 30px 0;
    }

    .video a::before {
        top: 30%; 
        left: 48%; 
        transform: scale(2.5);
    }

    .choise {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 20px;
    }

    .choise-marvis p::after {
        content: "";
        left: 40%;
        bottom: 0px;
        width: 20%;
        height: 2.5px;
        background-color: #D80B1A; 
        position: absolute;
    }

    .choise-marvis div {
        justify-content: space-evenly;
    } 

    .info-marvis {
        display: grid;
        grid-template-columns: repeat(1, minmax(435px, 700px));
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 40px;
        padding: 50px 30px;
        background-color: #e9e7e7;
        justify-content: center;
    }

    .faqs-block {
        grid-column-start: 1;
     }
    
     .employees {
        grid-column-start: 1;;
     }

    .marvis-theme {
        display: grid;
        grid-template-columns: repeat(1, minmax(435px, 700px));
        grid-row-gap: 40px;
        padding: 50px 30px;
        justify-content: center;
    }

    .marvis-theme div {
        grid-column-start: 1;
     }
    
     .marvis-theme button.button-red {
        grid-column-start: 1;
     }
     
     .marvis-theme div h3, .marvis-theme div p {
        text-align: center;
    }

    footer {
        grid-template-columns: minmax(290px, 700px);
        grid-row-gap: 50px;
        justify-content: center; 
        padding: 50px 50px;
     }

     .logo-block {
        grid-column-start: 1; 
    }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
    
    .title-h2 {
        font-size: 40px;
    }

    .header-top {
        margin-left: 60px;
        margin-right: 60px;
    }
    
    .header-top figure img {
        transform: scale(1);
    }

    header.conteiner a {
        font-size: 20px;
    }

    .header-middle p:nth-of-type(1) {
        font-size: 18px;
    }
    
    .header-middle h2:nth-of-type(1), .header-middle h2:nth-of-type(2) {
        font-size: 90px;
    }
    
    .header-middle p:nth-of-type(2) { 
        font-size: 16px;
    }
    
    .header-middle button {
        font-size: 20px;
        width: 250px;
        padding: 12px;
    }

    .conteiner-freight {
        width: 450px;
    }
    
    .conteiner-freight img {
        height: 300px;
    }

    .about-img img:nth-child(1), .about-img img:nth-child(2) {
        width: 250px;
        height: 416px;
        overflow: hidden;
    }
    
    .about-img {
        display: flex;
        justify-content: space-evenly;
    }
    
    .img-logistics img {
        object-fit:cover;
    }

    .menu-tabs a {
        font-size: 18px;
    }

    .tabs-block {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 18px;
    }

    .video a::before {
        width: 45px;
        height: 45px;
        top: 33%; 
        left: 48%; 
        transform: scale(3);
        
    }
}
